// colors
$lightpink:#fdf1f0;
$purple:#7D8BC8;
$blue:#0F277F;
$darkBlue:#10163A;
$pink:#FFC6CC;
$lightPurple:#C6CDDF;
$white:#FAFAFF;
$dark:#2A3B47;
$textColor:#697477;
$yellow:#FFDF6C;
$gray:#707070;
$lightBlack:#3F3F3F;
$black:#202020;
$gold:#F0A500;
